@model int

<div class="p">
	<div class="col-12 text-center">
		<h1 class="text-primary text-center">Order Placed Successfully</h1>
		Your Order Number is : @Model. <br /><br />
		<img src="~/images/lawn_leaf.jpg" width="55%"  alt="ThankYouImage" />
	</div>
	<div class="col-12 text-center" style="color:maroon">
		<br />
		<h1>

		Your Order has been placed successfully ! <br />
		</h1>
	</div>
</div>